<div class="profile-container">
  <div class="profile-sidebar">
    <div class="user-card">
      <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class: "profile-photo" %>
        <%= link_to edit_user_path(current_user), class:"edit-button" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      <% else %>
      <%= image_tag "https://res.cloudinary.com/dmndhddgf/image/upload/v1669807599/development/cv__29__generated_wlvwfw.jpg", class: "profile-photo" %>
        <%= link_to edit_user_path(current_user), class:"edit-button" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      <% end %>
    </div>
    <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
    <div class="badge-container">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669904122/development/Meat_badge_moqhyv.png" alt="meat badge">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669898011/development/Pizza_badge_qre0hm.png" alt="pizza badge">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669904205/development/Sushi_badge_ftjdv6.png" alt="sushi badge">
    </div>

    <div class="tops mb-5">
      <h4>Your Lists</h4>
      <div class="top-container">
        <div class="card-tops-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= cl_image_path @dishes.first.category.photo.key %>')">
          <h2 class="card-top-name">Your rank of: <%= @dishes.first.name %></h2>
        </div>
        <div class="card-tops-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= cl_image_path @dishes[2].category.photo.key %>')">
          <h2 class="card-top-name">Your rank of: <%= @dishes[2].name %></h2>
        </div>
        <div class="card-tops-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= cl_image_path @dishes.last.category.photo.key %>')">
          <h2 class="card-top-name">Your rank of: <%= @dishes.last.name %></h2>
        </div>
        <div class="card-tops-category" style="background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5))">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-main-container">
    <div class="fav-dishes-container">
      <h5>Your favorite dishes</h5>
      <div class="card-container">
      <% @dishes.each do |dish| %>
        <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= cl_image_path dish.category.photo.key %>')">
          <h2 class="card-name"><%= dish.name %></h2>
          <h2 class="card-rank">Rank</h2>
            <div class="cuisines-container">
              <p class="card-cuisines"><%= dish.category.cuisine %></p>
            </div>
        </div>
        <% end %>
      </div>
    </div>

    <div class="fav-lists-container mt-5">
      <%= render "shared/list" %>
    </div>
  </div>
</div>
