<div class="profile-container">
  <div class="profile-sidebar">
    <div class="user-card">
      <% if current_user.photo.attached? %>
        <%= cl_image_tag current_user.photo.key, class: "profile-photo" %>
        <%= link_to edit_user_path(current_user), class:"edit-button" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <% else %>
        <%= image_tag "https://res.cloudinary.com/dmndhddgf/image/upload/v1669807599/development/cv__29__generated_wlvwfw.jpg", class: "profile-photo" %>
        <%= link_to edit_user_path(current_user), class:"edit-button" do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
      <% end %>
      </div>
      <h5><%= current_user.first_name %> <%= current_user.last_name %></h5>
    <div class="badge-container">
        <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669904122/development/Meat_badge_moqhyv.png" alt="meat badge" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Meat Expert" data-bs-content="You have achieved the Meat Expert level! When it comes to meat, you know your ways around Lisbon!">
        <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669898011/development/Pizza_badge_qre0hm.png" alt="pizza badge" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Pizza Expert" data-bs-content="You have achieved the Pizza Expert level! When it comes to Pizza, you know your ways around Lisbon!">
        <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669904205/development/Sushi_badge_ftjdv6.png" alt="sushi badge" data-controller="popover" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="right" title="Sushi Lover" data-bs-content="You are a Sushi Lover! You visited more than 5 Sushi Restaurants">
    </div>

    <div class="tops mb-5">
      <h4>Your Lists</h4>
      <div class="top-container">
        <% @total_user_categories.each do |category| %>
          <%= link_to user_path(current_user, query: "#{category.id}") do %>
            <div class="card-tops-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= cl_image_path category.photo.key %>')">
              <h2 class="card-top-name">Your rank of: <%= category.name %></h2>
            </div>
          <% end %>
        <% end %>
        <div class="card-tops-category" style="background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5))">
          <i class="fa-solid fa-plus"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="profile-main-container">
    <div class="fav-dishes-container">
      <h5>Your favorite dishes</h5>
      <div class="card-container">
        <% @best_ranked_dishes.each do |dish| %>
          <%= link_to dish_path(dish) do %>
            <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= cl_image_path dish.category.photo.key %>')">
              <h2 class="card-name"><%= dish.name %></h2>
              <h2 class="card-rank">Rank</h2>
              <div class="cuisines-container">
                <p class="card-cuisines"><%= dish.category.cuisine %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="fav-lists-container mt-5" data-controller="drag" data-drag-url="/ranks/:id/move">
      <% if @target_category %>
        <h2 class="mb-4">Your rank for: <%= @target_category.name %></h2>
        <% else %>
        <h2>Choose a category</h2>
      <% end %>
        <% count = 0 %>
        <% @dishes_sorted.first(10).each_with_index do |dish| %>

        <div class="card-container-2 mt-3 mb-3" data-id="<%= dish.rank(current_user).id %>">
            <%= link_to dish_path(dish) do %>
              <% count += 1 %>
              <div class="both-boxes">
                <div class="card-category-4" style="background-image: linear-gradient(to right, rgba(1,1,1,0), rgba(1,1,1,1)), url('<%= cl_image_path dish.photo.key %>');"></div>
                  <% if count == 1 %>
                    <div class="rank-box-2" id="<%= count %>">
                      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981076/development/Badges_1_cxbraw.png" alt="">
                      <p><%= count %></p>
                    </div>
                  <% elsif count == 2 %>
                    <div class="rank-box-2" id="<%= count %>">
                      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981079/development/Badges_2_rrxvil.png" alt="">
                      <p><%= count %></p>
                    </div>
                  <% elsif count == 3 %>
                    <div class="rank-box-2" id="<%= count %>">
                      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981082/development/Badges_3_pjuj8b.png" alt="">
                      <p><%= count %></p>
                    </div>
                  <% else %>
                    <div class="rank-box-2" id="<%= count %>">
                      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981192/development/Badges_last_kdbz6c.png" alt="">
                      <p><%= count %></p>
                    </div>
                  <% end %>
                  <div class="card-category-2" style="background-color: black; padding-right: 20px;">
                    <h2 class="card-name-show-profile"><%= dish.name %></h2>
                    <p class="card-restaurant-show-profile"><%= dish.restaurant.name %></p>
                    <% if dish.category.food_type %>
                      <p class="card-type-show-profile"><%= dish.category.food_type %></p>
                    <% end %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
    </div>
  </div>
</div>
