<div class="card-container-2 mt-5 mb-5">
  <% count = 0 %>
    <% @results.first(10).each_with_index do |dish| %>
    <%= link_to dish_path(dish) do %>
      <% count += 1 %>
      <div class="both-boxes mt-3">
        <div class="card-category-3" style="background-image: linear-gradient(to right, rgba(10,10,10,0.5), rgba(10,10,10,1)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg);"></div>
          <% if count == 1 %>
          <div class="rank-box">
            <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981076/development/Badges_1_cxbraw.png" alt="">
            <p><%= count %></p>
          </div>
          <% elsif count == 2 %>
          <div class="rank-box">
            <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981079/development/Badges_2_rrxvil.png" alt="">
            <p><%= count %></p>
          </div>
          <% elsif count == 3 %>
          <div class="rank-box">
            <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981082/development/Badges_3_pjuj8b.png" alt="">
            <p><%= count %></p>
          </div>
          <% else %>
          <div class="rank-box">
            <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981192/development/Badges_last_kdbz6c.png" alt="">
            <p><%= count %></p>
          </div>
          <% end %>
            <div class="card-category-2" style="background-color: black">
              <h4 class="card-cuisine"><%= dish.category.cuisine %></h4><br>
              <h2 class="card-name"><%= dish.name %></h2>
              <h2 class="card-rank">Rank</h2>
              <p class="card-restaurant"><%= dish.restaurant.name %></p>
              <% if dish.category.food_type %>
                <p class="card-type"><%= dish.category.food_type %></p>
              <% end %>
            </div>
        </div>
        <% end %>
    <% end %>
</div>
