<% if @type == "Dish" %>
  <div>
    <% count = 0 %>
    <% @results.first(10).each do |dish| %>
      <%= link_to dish_path(dish) do %>
        <% count += 1 %>
        <div class="card-container-2">
          <div class="both-boxes mt-3">

            <div class="card-category-3" style="background-image: linear-gradient(to right, rgba(1,1,1,0.5), rgba(1,1,1,1)), url('<%= cl_image_path dish.photo.key %>');"></div>

              <% if count == 1 %>
                <div class="rank-box">
                    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981076/development/Badges_1_cxbraw.png" alt="">
                    <p><%= count %></p>
                </div>
              <% elsif count == 2 %>
                  <div class="rank-box">
                    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981079/development/Badges_2_rrxvil.png" alt="">
                    <p><%= count %></p>
                  </div>
              <% elsif count == 3 %>
                  <div class="rank-box">
                    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981082/development/Badges_3_pjuj8b.png" alt="">
                    <p><%= count %></p>
                  </div>
              <% else %>
                  <div class="rank-box">
                    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981192/development/Badges_last_kdbz6c.png" alt="">
                    <p><%= count %></p>
                  </div>
              <% end %>
              <div class="card-category-2" style="background-color: black">
                <h2 class="card-name-show-dish mt-2"><%= dish.name %></h2>
                <p> </p>
                <h4 class="card-cuisine-show-dish"> Cuisine - <%= dish.category.cuisine %></h4>

                <p class="card-restaurant-show-dish"> Restaurant - <%= dish.restaurant.name %></p>
                <% if dish.category.food_type %>
                  <p class="card-type-show-dish"><%= dish.category.food_type %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% else %>
  <% if @restaurants_name.include? params[:query] %>
    <div>
      <% @results.first(10).each do |restaurant| %>
        <%= link_to restaurant_path(restaurant) do %>
          <div class="card-container-2">
            <div class="both-boxes mt-3">
              <div class="card-category-3" style="background-image: linear-gradient(to right, rgba(10,10,10,0.2), rgba(10,10,10,1)), url('<%= cl_image_path restaurant.photo.key %>');">
              </div>
              <div class="rank-box">
              </div>
              <div class="card-category-2 d-flex align-items-center" style="background-color: black">
                <div class="w-100">
                  <h2 class="card-name-show-rest"><%= restaurant.name %></h2>
                  <p class="card-cuisine-show-rest"> <%= restaurant.address %></p>
                  <p class="card-type-show-dish">  </p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% else %>
    <div>
      <% count = 0 %>
      <% @results.first(10).each do |restaurant| %>
        <%= link_to restaurant_path(restaurant) do %>
          <% count += 1 %>
          <div class="card-container-2">
            <div class="both-boxes mt-3">
              <div class="card-category-3" style="background-image: linear-gradient(to right, rgba(10,10,10,0.2), rgba(10,10,10,1)), url('<%= cl_image_path restaurant.photo.key %>');"></div>
                <% if count == 1 %>
                  <div class="rank-box">
                    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981076/development/Badges_1_cxbraw.png" alt="">
                    <p><%= count %></p>
                  </div>
                <% elsif count == 2 %>
                  <div class="rank-box">
                    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981079/development/Badges_2_rrxvil.png" alt="">
                    <p><%= count %></p>
                  </div>
                <% elsif count == 3 %>
                  <div class="rank-box">
                    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981076/development/Badges_1_cxbraw.png" alt="">
                    <p><%= count %></p>
                  </div>
                <% elsif count == 2 %>
                  <div class="rank-box">
                    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981079/development/Badges_2_rrxvil.png" alt="">
                    <p><%= count %></p>
                  </div>
                <% elsif count == 3 %>
                  <div class="rank-box">
                    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981082/development/Badges_3_pjuj8b.png" alt="">
                    <p><%= count %></p>
                  </div>
                <% else %>
                  <div class="rank-box">
                    <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1669981192/development/Badges_last_kdbz6c.png" alt="">
                    <p><%= count %></p>
                  </div>
                <% end %>
                <div class="card-category-2 d-flex align-items-center" style="background-color: black">
                  <div class="w-100">
                    <h2 class="card-name-show-rest"><%= restaurant.name %></h2>
                    <p class="card-cuisine-show-rest"> <%= restaurant.address %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end  %>
