<div class="container mt-5 mb-5">
    <div class="row justify-content-center mb-3">
        <div class="col-6">
            <div class="card rounded border-0">
                <%= image_tag "2.jpg" %>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="card mb-3 rounded border-0">
                <%= image_tag "2.jpg" %>
            </div>
            <div class="card rounded border-0">
                <%= image_tag "2.jpg" %>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card p-4 rounded border-0 h-100">
                <h1><%= @dish.name %></h1>
                <p><%= @dish.recipe %></p>
                <%= @dish.milk %>
                <%= @dish.eggs %>
                <%= @dish.shellfish %>
                <%= @dish.wheat %>
                <%= @dish.soy %>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="card p-2 mb-3 rounded border-0">
                <h3><%= @dish.restaurant.name %></h3>
            </div>
            <div class="card rounded border-0">
                <div style="height: 150px;"
                        data-controller="map"
                        data-map-markers-value="<%= @markers.to_json %>"
                        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
            </div>
        </div>
    </div>
</div>