<div class="width-container">
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-6">
            <div class="border-card card">
                <%= image_tag "comida1.webp", class: "border-card" %>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="border-card card mb-3">
                <%= image_tag "comida1.webp", class: "border-card" %>
            </div>
            <div class="border-card card">
                <%= image_tag "comida1.webp", class: "border-card" %>
            </div>
        </div>
    </div>
    

    <div class="row justify-content-center mb-3">
    <div class="col-6">
        <div class="border-card card p-4 h-100">
            <h1><%= @dish.name %></h1>
            <p><%= @dish.recipe %></p>
            <div class="categories-container-alerg">
                <div class="category-cards-container-alerg">
                    <div class="category-card-alerg">
                        <p> <% if @dish.milk? == true %>
                            <i class="fa-solid fa-cow" title="milk"></i>
                            <% else %>
                            <i class="fa-solid fa-cow opacity-25" title="milk"></i>
                            <% end %>
                        </p>
                    </div>                        
                    <div class="category-card-alerg">
                        <p> <% if @dish.peanuts? == true %>
                            <i class="fa-solid fa-brain" title="peanuts"></i>
                            <% else %>
                            <i class="fa-solid fa-brain opacity-25" title="peanuts"></i>
                            <% end %>
                        </p>
                    </div>                     
                    <div class="category-card-alerg">
                        <p> <% if @dish.eggs? == true %>
                            <i class="fa-solid fa-egg" title="eggs"></i>
                            <% else %>
                            <i class="fa-solid fa-egg opacity-25" title="eggs"></i>
                            <% end %>
                        </p>
                    </div>
                    <div class="category-card-alerg">
                        <p> <% if @dish.shellfish? == true %>
                            <i class="fa-solid fa-shrimp" title="shellfish"></i>
                            <% else %>
                            <i class="fa-solid fa-shrimp opacity-25" title="shellfish"></i>
                            <% end %>
                        </p>
                    </div>
                    <div class="category-card-alerg">
                        <p> <% if @dish.wheat? == true %>
                            <i class="fa-solid fa-wheat-awn" title="wheat"></i>
                            <% else %>
                            <i class="fa-solid fa-wheat-awn opacity-25" title="wheat"></i>                                <% end %>
                        </p>
                    </div>
                    <div class="category-card-alerg">
                        <p> <% if @dish.soy? == true %>
                            <i class="fa-solid fa-bowl-rice" title="soy"></i>
                            <% else %>   
                            <i class="fa-solid fa-bowl-rice opacity-25" title="soy"></i>                            
                            <% end %>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-6 col-sm-3">
            <div class="border-card card p-2 mb-3">
                <h3><%= @dish.restaurant.name %></h3>
            </div>
            <div class="border-card card">
                <div class="map-border"
                        data-controller="map"
                        data-map-markers-value="<%= @markers.to_json %>"
                        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
            </div>
        </div>
    </div>
</div>