<div class="profile-container">
  <div class="profile-main-container">
    <div class="banner-container">
      <div class="dish-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @dish.photo.key %>');">
          <h1><%= @dish.name %></h1>
          <div class="dish-banner-cats">
              <h4 class="card-cat">#<%= @dish_rank %> in <%= @dish_category.name %></h4>
          </div>
          <h5>Price: $<%= @dish.price %></h5>
      </div>
    </div>
    <center>
      <div class="dish-info">
        <div class="dish-copy">
          <div class="description">
            <h4><%= @dish.recipe %></h4>
          </div>
          <div class="rank-button">
            <%= simple_form_for [@dish,@rank] do |f| %>
              <%= f.input :ranking, input_html: { class: "rank-dropdown" }, collection: 1..@dropdown_size %>
              <%= f.button :submit, input_html: { class: "rank-submit"} %>
            <% end %>
          </div>
        </div>
        <div class="categories-container mb-5">
          <h4 class="mb-3">Allergens:</h4>
            <div class="alergy-cards-container">
              <% if @dish.milk %>
                <div class="category-card">
                  <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1670341672/development/milk_kbpgag.png" alt="icon of milk">
                  <p>Milk</p>
                </div>
              <% end %>
              <% if @dish.peanuts %>
                <div class="category-card">
                  <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1670341655/development/peanuts_qiso2i.png" alt="icon of milk">
                  <p>Peanuts</p>
                </div>
              <% end %>
              <% if @dish.eggs %>
                <div class="category-card">
                  <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1670341658/development/eggs_fkvojb.png" alt="icon of milk">
                  <p>Eggs</p>
                </div>
              <% end %>
              <% if @dish.shellfish %>
                <div class="category-card">
                  <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1670341662/development/shellfish_a91mec.png" alt="icon of milk">
                  <p>Shellfish</p>
                </div>
              <% end %>
              <% if @dish.wheat %>
                <div class="category-card-alerg">
                  <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1670341665/development/wheat_aqaagn.png" alt="icon of milk">
                  <p>Wheat</p>
                </div>
              <% end %>
              <% if @dish.soy %>
                <div class="category-card">
                  <img src="https://res.cloudinary.com/dmndhddgf/image/upload/v1670341668/development/soy_k61seq.png" alt="icon of milk">
                  <p>Soy</p>
                </div>
              <% end %>
            </div>
        </div>
      </div>
    </center>
  </div>

  <div class="profile-sidebar-2">
      <h3 style="text-align:start;" class="ms-3">Find it at:</h3>
      <%= link_to restaurant_path(@restaurant) do %>
        <div class="restaurant-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= cl_image_path @restaurant.photo.key %>')">
          <div class="card-cuisine-list">
            <% @cuisines.each do |cuisine| %>
              <p class="card-type-list"><%= cuisine %> </p>
            <% end %>
          </div>
          <h2 class="card-name-restaurant" style="font-size:28px;"><%= @restaurant.name %></h2>
          <div class="card-rank-list">
            <% @position.each do |rank| %>
              <div class="restaurant-card-rank">
                <p>#<%= rank[:position] %> <%= Category.find(rank[:category]).name %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
      <div class="location">
        <h5 style="text-align:start;" class="ms-3">Address:</h5>
        <p style="text-align:start;" class="ms-3"><%= @restaurant.address %></p>
        <div class="map-border"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>
</div>
