<div class="profile-container">
  <div class="profile-main-container">
    <div class="banner-container">
      <div class="dish-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @dish.photo.key %>');">
          <h1><%= @dish.name %></h1>
          <div class="dish-banner-cats">
              <h4 class="card-cat">#<%= @dish_rank %> in <%= @dish_category.name %></h4>
          </div>
          <h5><%= @dish.price %>€</h5>
      </div>
    </div>
    <div class="dish-info">
      <div class="dish-copy">
        <h4><%= @dish.recipe %></h4>
      <div class="categories-container-alerg">
                  <div class="category-cards-container-alerg">
                      <div class="category-card-alerg">
                              <% if @dish.milk? %>
                                <span><i class="fa-solid fa-cow" title="milk"></i></span>
                                <p>milk</p>
                              <% else %>
                                <span><i class="fa-solid fa-cow text-secondary" title="milk"></i></span>
                                <p class="text-secondary">milk</p>
                              <% end %>
                      </div>
                      <div class="category-card-alerg">
                                <% if @dish.peanuts? %>
                                <span><i class="fa-solid fa-brain" title="peanuts"></i></span>
                                <p>peanuts</p>
                              <% else %>
                                <span><i class="fa-solid fa-brain text-secondary" title="peanuts"></i></span>
                                <p class="text-secondary">peanuts</p>
                              <% end %>
                      </div>
                      <div class="category-card-alerg">
                              <% if @dish.eggs? %>
                                <span><i class="fa-solid fa-egg" title="eggs"></i></span>
                                <p>eggs</p>
                              <% else %>
                                <span><i class="fa-solid fa-egg text-secondary" title="eggs"></i></span>
                                <p class="text-secondary">eggs</p>
                              <% end %>
                      </div>
                      <div class="category-card-alerg">
                              <% if @dish.shellfish? %>
                                <span><i class="fa-solid fa-shrimp" title="shellfish"></i></span>
                                <p>shellfish</p>
                              <% else %>
                                <span><i class="fa-solid fa-shrimp text-secondary" title="shellfish"></i></span>
                                <p class="text-secondary">shellfish</p>
                              <% end %>
                      </div>
                      <div class="category-card-alerg">
                            <% if @dish.wheat? %>
                                <span><i class="fa-solid fa-wheat-awn" title="wheat"></i></span>
                                <p>wheat</p>
                              <% else %>
                                <span><i class="fa-solid fa-wheat-awn text-secondary" title="wheat"></i></span>
                                <p class="text-secondary">wheat</p>
                              <% end %>
                      </div>
                      <div class="category-card-alerg">
                              <% if @dish.soy? %>
                                <span><i class="fa-solid fa-bowl-rice" title="soy"></i></span>
                                <p>soy</p>
                              <% else %>
                                <span><i class="fa-solid fa-bowl-rice text-secondary" title="soy"></i></span>
                                <p class="text-secondary">soy</p>
                              <% end %>
                      </div>
                  </div>
              </div>
        <%= simple_form_for [@dish,@rank] do |f| %>
          <%= f.input :ranking, collection: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="profile-sidebar-2">
    <%= link_to restaurant_path(@restaurant) do %>
      <div class="restaurant-card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= cl_image_path @restaurant.photo.key %>')">
        <h2 class="card-name-show1"><%= @restaurant.name %></h2>
        <div class="restaurant-card-rank" style="margin-right:30px;">
          <% @position.each do |rank| %>
            <p>#<%= rank[:position] %> <%= Category.find(rank[:category]).name %></p>
            <% end %>
        </div>
      </div>
    <% end %>
    <div class="map-border"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
