<div class="width-container">
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-6">
            <div class="border-card card">
                <%= image_tag "comida1.webp", class: "border-card" %>
            </div>
        </div>
        <div class="col-6 col-sm-3">
            <div class="border-card card mb-3">
                <%= image_tag "comida1.webp", class: "border-card" %>
            </div>
            <div class="border-card card">
                <%= image_tag "comida1.webp", class: "border-card" %>
            </div>
        </div>
    </div>
    

    <div class="row justify-content-center mb-3">
    <div class="col-6">
        <div class="border-card card p-4 h-100">
            <div class="card-category-alerg">
                <h1><%= @dish.name %></h1>
                <p><%= @dish.recipe %></p>
            </div>
            <div class="categories-container-alerg">
                <div class="category-cards-container-alerg">
                    <div class="category-card-alerg">
                            <% if @dish.milk? %>
                              <span><i class="fa-solid fa-cow" title="milk"></i>
                              <p>milk</p></span>
                            <% else %>
                              <span><i class="fa-solid fa-cow opacity-25" title="milk"></i>
                              <p class="opacity-25">milk</p></span>
                            <% end %>
                    </div>                        
                    <div class="category-card-alerg">
                              <% if @dish.peanuts? %>
                              <span><i class="fa-solid fa-brain" title="peanuts"></i>
                              <p>peanuts</p></span>
                            <% else %>
                              <span><i class="fa-solid fa-brain opacity-25" title="peanuts"></i>
                              <p class="opacity-25">peanuts</p></span>
                            <% end %>
                    </div>                     
                    <div class="category-card-alerg">
                            <% if @dish.eggs? %>
                              <span><i class="fa-solid fa-egg" title="eggs"></i>
                              <p>eggs</p></span>
                            <% else %>
                              <span><i class="fa-solid fa-egg opacity-25" title="eggs"></i>
                              <p class="opacity-25">eggs</p></span>
                            <% end %>
                    </div>
                    <div class="category-card-alerg">
                            <% if @dish.shellfish? %>
                              <span><i class="fa-solid fa-shrimp" title="shellfish"></i>
                              <p>shellfish</p></span>
                            <% else %>
                              <span><i class="fa-solid fa-shrimp opacity-25" title="shellfish"></i>
                              <p class="opacity-25">shellfish</p></span>
                            <% end %>
                    </div>
                    <div class="category-card-alerg">
                           <% if @dish.wheat? %>
                              <span><i class="fa-solid fa-wheat-awn" title="wheat"></i>
                              <p>wheat</p></span>
                            <% else %>
                              <span><i class="fa-solid fa-wheat-awn opacity-25" title="wheat"></i>
                              <p class="opacity-25">wheat</p></span>                           
                            <% end %>
                    </div>
                    <div class="category-card-alerg">
                            <% if @dish.soy? %>
                              <span><i class="fa-solid fa-bowl-rice" title="soy"></i>
                              <p>soy</p></span>
                            <% else %>   
                              <span><i class="fa-solid fa-bowl-rice opacity-25" title="soy"></i>
                              <p class="opacity-25">soy</p></span>                            
                            <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="col-6 col-sm-3">
            <div class="border-card card p-2 mb-3">
                <h3><%= @dish.restaurant.name %></h3>
            </div>
            <div class="border-card card">
                <div class="map-border"
                        data-controller="map"
                        data-map-markers-value="<%= @markers.to_json %>"
                        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
            </div>
        </div>
    </div>
</div>