<div class="width-container-rest">
    <div class="row justify-content-center mb-3">
        <div class="col-9">
            <div>
                <h1><%= @restaurant.name %></h1>
                <% if @restaurant.photo.attached? %>
                    <%= cl_image_tag @restaurant.photo.key, class: "border-card-rest" %>
                <% else %>
                    <%= image_tag "comida1.webp", class: "border-card-rest card" %>
                <% end %>
            </div>
            <div class="mt-3">
                <div class="card-category-alerg">
                    <p><%= @restaurant.description %></p>
                    <p><%= @restaurant.address %></p>
                    <h4>Ranks:</h4>
                    <% @position.each do |category| %>
                      <p>#<%= category[:position] %> in <%= Category.find(category[:category]).name %></p>

                      <% end %>
                </div>
            </div>
        </div>
        <div class="col-3">

            <% #booking!%>
            <div class="card mb-2">
                <%= image_tag "ticket-booking-form.png" %>
            </div>
            <div class="border-card-map-rest card">
                <div class="map-border"
                    data-controller="map"
                    data-map-markers-value="<%= @markers.to_json %>"
                    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
            </div>

        </div>
    </div>

    <div class="row justify-content-center mb-3">
        <div class="card-container-rest">
            <% @restaurant.dishes.each do |dish|%>
              <%= link_to dish_path(dish) do %>
                  <div class="card-category-rest m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('<%= cl_image_path dish.photo.key %>')">
                      <h4 class="card-cuisine"><%= dish.category.cuisine %></h4>
                      <h2 class="card-name"><%= dish.name %></h2>
                      <h2 class="card-rank">Rank</h2>
                      <p class="card-restaurant"><%= dish.restaurant.name %></p>
                  </div>
              <% end %>
            <% end %>
        </div>
    </div>
</div>
