<div class="profile-container">
  <div class="profile-main-container">
      <div class="d-flex" style="border-radius: 5px; margin-left: 46px; margin-bottom: 7px;">
        <button type="button" class="btn btn-warning">
          <%= link_to "Back", :back %>
        </button>
      </div>
    <div class="banner-container">
      <div class="dish-banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.6)), url('<%= cl_image_path @restaurant.photo.key %>');">
          <h1><%= @restaurant.name %></h1>
          <div class="dish-banner-cats">
            <% @positions.each do |rank| %>
              <h4 class="card-cat">#<%= rank[:position] + 1 %> in <%= Category.find(rank[:category_id]).name %></h4>
            <% end %>
          </div>

      </div>
    </div>
    <center>
      <div class="dish-info">
        <div class="dish-copy">
          <div class="description">
            <h4><%= @restaurant.description %></h4>
          </div>
        </div>
      </div>
    </center>
  </div>

  <div class="profile-sidebar-2">
      <h3 style="text-align:start;" class="ms-3">Most popular dish:</h3>
      <%= link_to dish_path(@top_dish) do %>
        <div class="card-category-rest-top m-3 pointer" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url('<%= cl_image_path @top_dish.photo.key %>')">
                      <h4 class="card-cuisine"><%= @top_dish.category.cuisine %></h4>
                      <h2 class="card-name"><%= @top_dish.name %></h2>
                      <h2 class="card-rank">#<%= @main_dish_rank %> in <%= @top_dish.category.name %></h2>
                      <p class="card-restaurant">by <%= @top_dish.restaurant.name %></p>
        </div>

      <% end %>
      <div class="location">
        <h5 style="text-align:start;" class="ms-3">Address:</h5>
        <p style="text-align:start;" class="ms-3"><%= @restaurant.address %></p>
        <div class="map-border"
          data-controller="map"
          data-map-markers-value="<%= @markers.to_json %>"
          data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
      </div>
    </div>


</div>

<div class="profile-container">
        <div class="card-container-rest">
            <% @dish_ranks.each do |dish|%>
              <%= link_to dish_path(dish[:dish]) do %>
                  <div class="card-category-rest m-3 pointer" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.6)), url('<%= cl_image_path dish[:dish].photo.key %>')">
                      <h4 class="card-cuisine"><%= dish[:dish].category.cuisine %></h4>
                      <h2 class="card-name"><%= dish[:dish].name %></h2>
                      <h2 class="card-rank">#<%= dish[:rank] %> in <%= dish[:dish].category.name %></h2>
                      <p class="card-restaurant">by <%= dish[:dish].restaurant.name %></p>
                  </div>
              <% end %>
            <% end %>
        </div>
    </div>
</div>
