

<div class="navbar2" data-controller="change-class">

  <%= link_to top_path(query: "Italian", type: params[:type]), :action => 'go' do %>
      <div class="icon-card" id="Italian">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/c_fill,h_30,w_30/v1669810099/development/italian_food_hec9ov.png" alt="icon of italia" class="mb-2">
      <p>Italian</p>
      </div>
  <% end %>

  <%= link_to top_path(query: "Portuguese", type: params[:type]), :action => 'go' do %>
      <div class="icon-card" id="Portuguese">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/c_fill,h_30,w_30/v1669810453/development/pastel-de-nata_uz2tnz.png" alt="icon of denata" class="mb-2">
      <p>Portuguese</p>
      </div>
  <% end %>

  <%= link_to top_path(query: "Asian", type: params[:type]), :action => 'go' do %>
      <div class="icon-card" id="Asian">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/c_fill,h_30,w_30/v1669810475/development/asian_food_zn3hoi.png" alt="icon of asia" class="mb-2">
      <p>Asian</p>
      </div>
  <% end %>

  <%= link_to top_path(query: "Pasta", type: params[:type]), :action => 'go' do %>
      <div class="icon-card" id="Pasta">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/c_fill,h_30,w_30/v1669810417/development/spaghetti_ethggz.png" alt="icon of pasta" class="mb-2">
      <p>Pasta</p>
      </div>
  <% end %>

  <%= link_to top_path(query: "Pizza", type: params[:type]), :action => 'go' do %>
      <div class="icon-card" id="Pizza">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/c_fill,h_30,w_30/v1669810438/development/pizza_sxdpza.png" alt="icon of pizza" class="mb-2">
      <p>Pizza</p>
      </div>
  <% end %>

   <%= link_to top_path(query: "Seafood", type: params[:type]), :action => 'go' do %>
      <div class="icon-card" id="Seafood">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/c_fill,h_30,w_30/v1670427205/development/seafood_jlx2ek.png" alt="icon of Seafood" class="mb-2">
      <p>Seafood</p>
      </div>
  <% end %>

  <%= link_to top_path(query: "Francesinha", type: params[:type]), :action => 'go' do %>
      <div class="icon-card" id="Francesinha">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/c_fill,h_30,w_30/v1670427162/development/francesinha_w7iivf.png" alt="icon of Francesinha" class="mb-2">
      <p>Francesinha</p>
      </div>
  <% end %>

  <%= link_to top_path(query: "Sushi", type: params[:type]), :action => 'go' do %>
      <div class="icon-card" id="Sushi">
      <img src="https://res.cloudinary.com/dmndhddgf/image/upload/c_fill,h_30,w_30/v1669810446/development/sushi_neytlg.png" alt="icon of sushi" class="mb-2">
      <p>Sushi</p>
      </div>
  <% end %>





</div>


<div class="text-toggle-box my-0">
  <div>
    <% if @type == "Dish" %>
      <% if @restaurants_name.include? params[:query] %>
        <center> <h2 class="my-3" > Best Dishes of <%= params[:query] %> </h2> </center>
      <% else %>
        <center> <h2 class="my-3" > Best  <%= params[:query] %> </h2> </center>
      <% end %>
    <% else %>
      <% if @restaurants_name.include? params[:query] %>
        <center> <h2 class="my-3" > Best Results for <%= params[:query] %> </h2> </center>
      <% else %>
        <center> <h2 class="my-3" > Best Restaurants for <%= params[:query] %> </h2> </center>
      <% end %>
    <% end %>
  </div>
  <div>
    <form class="form ">
      <div class="switch-field">
        <% if @type == "Dish" %>
          <%= link_to "Dish", top_path(query: params[:query], type: "Dish"), class: "toggle-dish-checked my-3" %>
        <% else %>
          <%= link_to "Dish", top_path(query: params[:query], type: "Dish"), class: "toggle-dish my-3" %>
        <% end %>
        <% if @type == "Restaurant" %>
          <%= link_to "Restaurant", top_path(query: params[:query], type: "Restaurant"), class: "toggle-res-checked my-3" %>
        <% else %>
          <%= link_to "Restaurant", top_path(query: params[:query], type: "Restaurant"), class: "toggle-res my-3" %>
        <% end %>
      </div>
  </div>
</div>

<%= render "shared/list" %>
